.my-button-change {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
}

.my-button-photo {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
}

.my-button-upload {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
}

.my-button-watch {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
}

.line {
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 0px !important;
}