<ion-content scrollY="false" class="ion-padding">
  <div class="header">
    <ion-text class="ion-padding ion-text-center">
      <h1>BIENVENIDO</h1>
      <p>A la aplicación que te ayuda a tener un control de tu vehiculo de manera rapida y eficiente</p>
      <p>Comenzemos</p>
    </ion-text>
  </div>
  <div class="body">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-button routerLink="/login" class="ion-text-center ion-text-capitalize">
            iniciar sesión
          </ion-button>
          <p class="divider">Or</p>
          <ion-button routerLink="/register" color="medium" class="ion-text-center ion-text-capitalize">
            crear cuenta
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="footer">
    <div class="footer_header">
      <p> El documento denominado Términos y Condiciones Generales de Uso de una determinada página o sitio web es aquel
        que contiene las normas que regulan la interacción de las personas que acceden a ella (usuarias) con el
        contenido que la misma página pone a disposición, con los productos y/o servicios ofrecidos en ella, y con las
        personas responsables del sitio.
        <a href="" target="_blank">Más información aquí...</a>
      </p>
      <div class="footer_footer">
        AutoMinder
      </div>
    </div>
  </div>
</ion-content>