<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Inicio</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="container_header">
    <ion-img src="../assets/img/HomeCar.png" class="ion-padding"></ion-img>
  </div>
  <div class="container_recorder ion-padding">
    <ion-card>
      <ion-card-title class="ion-text-center">Recordatorios</ion-card-title>
      <ion-card-subtitle class="ion-text-center">0 activos</ion-card-subtitle>
      <ion-list>
        <ion-item>
          <ion-label>
            nanana
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
  <div class="container_list ion-padding">
    <ion-card>
      <ion-card-title class="ion-text-center">Ultimos repuestos</ion-card-title>
      <ion-list>
        <ion-item>
          <ion-label>Awesome Label</ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add" routerLink="/list-replacement"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>